<!-- Template Row: Columns 3 -->
<section class="template-row  template-row--columns-3">
    <div class="template-row-wrapper">

        <div class="template-row-title">
            {{widget('content', 'row--columns-3__row-title-text1', { content: '
                <h2>Lorem Ipsum Dolor</h2>
                <p>Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
            '})|raw}}
        </div>

        <div class="template-row-column-wrapper">

            <div class="template-row-column  template-row-column--left">
                <div class="template-row-column-image">
                    {{widget('image', 'row--columns-3__column-left-image1', {
                        'src': asset('/images/row-images/row-image1.jpg')
                    })|raw}}
                </div>
                <div class="template-row-column-text">
                    {{widget('content', 'row--columns-3__column-left-text1', { content: '
                        <h3>Lorem Ipsum Dolor</h3>
                        <p>Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                    '})|raw}}
                </div>
            </div>

        	<div class="template-row-column  template-row-column--middle">
                <div class="template-row-column-image">
                    {{widget('image', 'row--columns-3__column-middle-image1', {
                        'src': asset('/images/row-images/row-image1.jpg')
                    })|raw}}
                </div>
                <div class="template-row-column-text">
                    {{widget('content', 'row--columns-3__column-middle-text1', { content:'
                        <h3>Lorem Ipsum Dolor</h3>
                        <p>Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                    '})|raw}}
                </div>
            </div>

            <div class="template-row-column  template-row-column--right">
                <div class="template-row-column-image">
                    {{widget('image', 'row--columns-3__column-right-image1', {
                        'src': asset('/images/row-images/row-image1.jpg')
                    })|raw}}
                </div>
                <div class="template-row-column-text">
                    {{widget('content', 'row--columns-3__column-right-text1', { content: '
                        <h3>Lorem Ipsum Dolor</h3>
                        <p>Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                    '})|raw}}
                </div>
            </div>

        </div>

    </div>
</section>
